@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

body {
    font-family: 'Roboto', sans-serif;
    background: #f4f5f6;
}

img {
    width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin: 0;
}

a:hover, a:focus{
    text-decoration: none;
}

ul, li { list-style: none; margin: 0; padding: 0; }

/*--------------------------
  header
----------------------------*/

#myNavbar {
    float: left;
}

header {
     background: #fff;
     padding: 10px 15px 0px;
     width: 100%;
     top: 0;
     /* border-bottom: 1px solid #eee; */
}

header .navbar-brand {
    width: 200px;
    padding: 0;
    margin-right: 40px;
}

header .nav>li>a {
    color: #999;
    /* text-transform: uppercase; */
    font-weight: 500;
    padding: 18px 0 22px;
    margin: 0 15px;
    font-size: 16px;
}

header .navbar-nav a.active  {
    border-bottom: 3px solid #1787e0;
    color: #1787e0;
}

header .nav>li>a:focus, header .nav>li>a:hover {
    background-color: transparent;
}

.navbar-toggle .icon-bar {
    background: #fff;
}

/*==========================================================
        .top-bar-inner
==========================================================*/

.top-bar-inner img{
    max-width: 30px;
}

/*==========================================================
        #dash-main
==========================================================*/

#dash-main {
	padding: 15px 0;
}

.dash-main-box {
    background: #1787e0;
    border-radius: 5px;
}

.dash-main-box h3{
    color: #fff;
    padding: 15px;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

.dash-main-box h3 i{
    color: #fff;
    margin-left: 10px;
    font-size: 15px;
    opacity: 0.8;
}

.dash-inner-box {
    background: #fff;
    padding: 15px;
    min-height: 590px;
}

.circle-graph-box-inner {
    padding: 10px;
    padding-bottom: 0;
    text-align: center;
    width: 50%;
    float: left;
}

.circle-graph-box-inner img{
    max-width: 103px;
}

.circle-graph-box-inner h6 {
    min-height: 26px;
}

.circle-graph-main {
    border: 1px solid #ddd;
    padding: 10px;
    overflow-y: hidden;
    border-radius: 3px;
    margin-bottom: 10px;
}

.circle-graph-main h5 {
    color: #42505c;
    font-weight: 600;
}

.circle-graph-box {
    max-height: 140px;
    overflow-y: scroll;
}

#style-2::-webkit-scrollbar-track
{
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
	background-color: #d9e4ef;
}

#style-2::-webkit-scrollbar
{
	width: 10px;
    border-radius: 10px;
	background-color: #d9e4ef;
}

#style-2::-webkit-scrollbar-thumb
{
	border-radius: 10px;
/*	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #7bb9eb;
}

/*==========================================================
        .comment-tabs
==========================================================*/

.comment-tabs .nav-tabs {
    border-bottom: none;
    text-align: center;
}

.comment-tabs .nav-tabs>li {
    /* margin-bottom: -2px; */
    display: inline-block;
    float: none;
}

.comment-tabs .nav-tabs>li>a {
    border: 2px solid transparent;
    border: none;
    color: #999;
    /* opacity: 0.65; */
    font-size: 14px;
    padding: 25px 0;
    margin: 0 15px;
}

.comment-tabs .nav-tabs>li>a h4{
    margin: 0;
    font-size: 14px;
}

.comment-tabs .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
}

.comment-tabs .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
    border-bottom: 4px solid #1787e0;
    opacity: 1;
    background: transparent;
    color: #1787e0;
}

.comment-tabs .tab-content {
    padding-top: 30px;
    overflow: hidden;
}

.comment-tabs .tab-content p{
    line-height: 21px;
    margin-left: 0px;
    color: #6f788b;
    display: block;
}

.comment-tabs .tab-content .tabs-image {
    padding: 50px 0;
    max-width: 500px;
    margin: 0 auto;
}

.comment-tabs .tab-content .item {
    position: relative;
    margin: 15px;
    border-left: 3px dashed antiquewhite;
    padding: 10px 40px;
}

.comment-tabs .tab-content .item > span {
    position: absolute;
    width: 40px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    border-radius: 100%;
    left: -20px;
    top: 0;
    background: antiquewhite;
}

.top-bar-links {
    font-size: 12px;
}

.top-bar-inner {
    text-align: right;
}

.top-bar-inner p{
    margin: 0;
}

ul.top-bar-acc {
    letter-spacing: 0.5px;
}

.top-bar > ul, .top-bar-links > ul > li {
    float: left;
    position: relative;
    color: #333;
    padding: 10px;
    border-right: 2px solid #ccc;
}

.top-bar > ul, .top-bar-links > ul > li:last-child{
    border-right: none;
}
canvas.chartjs-render-monitor {
    margin-top: -50px;
}
.navbar-nav a {
   
    color: #999;
   
    font-weight: 500;
    padding: 18px 0 22px;
    margin: 0 15px;
    font-size: 16px;
}
.circle-graph-main h5 {
    font-size: 14px;
}
.circle-graph-box-inner h6 {
    font-size: 12px;
}
.circle-graph-box-inner {
    padding: 20px;}